@import "tailwindcss";

@theme {
  --color-base-dark: #0f1324;
  --color-base: #7a87b8;
  --color-base-light: #dee1ed;
  --color-accent: #f2c40d;
  --color-accent-light: #f8dc6d;
  --color-accent-deactivated: #857847;
}
